.cardFromDeck{
  height: 255px;
  width: 165px;
  margin: 5px;
}
.backColor{
  background-color: #4dc74d;
}
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
